# База данных (Supabase)
DB_HOST=your_db_host
DB_PORT=your_db_port
DB_NAME=your_db_name
DB_USER=your_db_user
DB_PASSWORD=your_db_password

# Yandex Cloud
YANDEX_API_KEY=your_yandex_api_key
YANDEX_FOLDER_ID=your_yandex_folder_id
YANDEX_ASSISTANT_ID=your_yandex_assistant_id

# Telegram
TELEGRAM_TOKEN=your_telegram_bot_token

# Администраторы (ID Telegram)
ADMIN_IDS=123456789,987654321